:root{
    --bg: #181820;
    --card-bg: #21212B;
    --main-color: #FC76A1;
    --text-color: #FFF;

    --text-color-dummy: #3C4963;
}
html{
    font-family: 'Poppins';
    background-color: var(--bg);
}